.vscode/
.history/
.awcache/
lib/
dist/lib.js
dist/test/
.babelrc
.gitignore
.npmignore
.stylelintrc.json
dirmap.json
tsconfig.json
tsconfig.webpack.json
postcss.config.js
webpack.config.babel.js
yarn.lock
*.log